<include file="Public/header"/>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" name="keyword" value="" placeholder="请输入发票名称" class="layui-input search_input" autocomplete="off">
        </div>
        <a class="layui-btn search_btn">查询</a>
    </div>
</blockquote>
<!-- 数据表格 -->
<table class="layui-hide" id="inv_list" lay-filter="table_filter"></table>

<script type="text/javascript" src="/Public/home/layui/layui.js"></script>
<!-- 数据表格的工具 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">开票</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 数据表格中是否禁用栏 -->
<script type="text/html" id="switchTpl">
    <input type="checkbox" name="del_state" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="forbidFilter" {{ d.del_state == 1 ? 'checked' : '' }}>
</script>
<script>
    layui.use(['layer', 'table', 'jquery'], function () {
        let layer = parent.layer === undefined ? layui.layer : parent.layer,
            table = layui.table,
            $ = layui.jquery;

        // 加载页面数据
        let tableIns = table.render({
            id: 'inv_table',
            elem: "#inv_list",
            url: "/admin/invoice/list",
            cols: [[
                {type: 'checkbox'}
                , {field: 'order_sn', width: 150, title: '订单号'}
                , {field: 'inv_amount', width: 120, title: '发票金额'}
                , {field: 'inv_title', title: '发票名称'}
                , {field: 'inv_code', title: '纳税人识别号'}
                , {field: 'inv_state', width: 90, title: '发票状态', templet: function (d) {
                        let inv_state = '';
                        if (d.inv_state == 0) {
                            inv_state = '<span style="background-color: #FFA652; color: #fff; padding: 5px; border-radius: 3px;">申请中</span>';
                        } else {
                            inv_state = '<span style="background-color: #61A5F0; color: #fff; padding: 5px; border-radius: 3px;">已完成</span>';
                        }
                        return inv_state;
                    }}
                , {field: 'inv_type', title: '发票类型', templet: function (d) {
                        let inv_type = '';
                        if(d.inv_type == 1) {
                            inv_type = '增值税普通发票（电子版）'
                        } else if(d.inv_type == 2) {
                            inv_type = '增值税普通发票'
                        } else {
                            inv_type = '增值税专业发票'
                        }
                        return inv_type;
                    }}
                , {field: 'add_time', title: '申请时间', width: 160, sort: true}
                , {field: 'end_time', title: '开票时间', width: 160, sort: true}
                , {title: '操作', width: 180, toolbar: '#barDemo'}
            ]],
            page: true
        });

        // 查询
        $('.search_btn').click(function () {
            let keyword = $(".search_input").val();
            tableIns.reload({
                where: {'keyword' : keyword},
            });
        });

        //监听行工具事件
        table.on('tool(table_filter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            let data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                for (let k in data) {
                    if (k === 'inv_type') {
                        let inv_type = '';
                        if (data[k] == 1) {
                            inv_type = '增值税普通发票（电子版）';
                        } else if (data[k] == 2) {
                            inv_type = '增值税普通发票';
                        } else {
                            inv_type = '增值税专业发票';
                        }
                        layui.data('invoice', {key: k, value: inv_type});
                    } else if (k === 'inv_state') {
                        let inv_state = '';
                        if(data[k] === '0') {
                            inv_state = '申请中';
                        } else {
                            inv_state = '已完成';
                        }
                        layui.data('invoice', {key: k, value: inv_state});
                    } else {
                        layui.data('invoice', {key: k, value: data[k]});
                    }
                }
                let index = layer.open({
                    skin: 'layui-layer-molv',
                    title : "发票申请详情",
                    type : 2,
                    content : "/admin/invoice/invoice_info",
                    success : function(layero, index){
                        setTimeout(function(){
                            layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        },500)
                    },
                });
                //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
                $(window).resize(function(){
                    layer.full(index);
                });
                layer.full(index);
            } else if (layEvent === 'del') {
                layer.confirm('您确定要删除该发票申请吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    //向服务端发送禁用指令
                    $.post('/admin/invoice/delete', {inv_id: data.id}, function (res) {
                        if(res && res.result_code === 200) {
                            obj.del();
                            layer.msg('删除成功');
                        } else {
                            layer.msg('删除失败');
                        }
                    });
                });
            } else if (layEvent === 'edit') {
                layer.confirm('您确定要开此发票吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    //向服务端开票指令
                    $.post('/admin/invoice/open', {inv_id: data.id}, function (res) {
                        if(res && res.result_code === 200) {
                            obj.update({inv_state: '已完成'});
                            layer.msg('开票成功');
                        } else {
                            layer.msg('开票失败');
                        }
                    });
                });

            }
        });
    });
</script>
</body>
</html>