<!-- 头部引入 -->
<include file="Public/header_new" />
<body>
<div class="header2">
    <div class="container">
        <a href="/" class="left clearfix">
            <img src="/Public/new/img/index_logo.png" alt="">
        </a>
        <div class="right">
            <a href="/">首页</a>
            <a href="/home/center">个人中心</a>
        </div>
    </div>
</div>
<div class="hy_banner">
    <img src="/Public/new/img/banner2.jpg" alt="">
</div>
<div class="container about-us">
    <p>
        一刻钟婚礼全景网www.hunli720.com是由青岛云视拓智能科技有限公司开发的一款为婚礼策划人服务的网络全景平台。一刻钟迎合“互联网+”发展模式，积极响应国家大众创业万众创新的号召，采用当下科技前沿的全景图片处理和展示技术，整合婚礼策划行业的各类资源，为辛苦奋斗在婚礼婚庆一线的策划师提供一个界面更加友好的，可交互的，具有科技感的婚庆策划案例共享平台。
    </p>
    <br>
    <p>
        一刻钟婚礼全景网本着全心全意为婚庆策划师服务的宗旨，通过全景对婚礼现场的真实再现，让新人更加明确婚庆场布的定位，力求在“一刻钟”的时间内迅速锁定喜欢的场布类型，协助婚庆策划师快速成单，提高成单率，有效降低客户投诉率，改善客户关系。
    </p>
    <br>
    <p>
        一刻钟未来会给用户带来更丰富的功能和福利，我们希望一刻钟用户可以永远留在一刻钟平台，共同完善和发展婚礼婚庆行业，这需要我们每一个婚礼人的共同努力，希望一刻钟能与您一起，风雨同舟，砥砺前行，共创美好未来。
    </p>
    <br>
    <p>我们的目标是：打造中国最专业的婚庆服务平台。</p>
</div>
<include file="Public/footer" />