<!-- 头部引入 -->
<include file="Public/header_new" />
<body>
<div class="header2">
    <div class="container">
        <a href="/" class="left clearfix">
            <img src="/Public/new/img/index_logo.png" alt="">
        </a>
        <div class="right">
            <a href="/">首页</a>
            <a href="/home/center">个人中心</a>
        </div>
    </div>
</div>
<div class="hy_banner">
    <img src="/Public/new/img/banner2.jpg" alt="">
</div>
<div class="container agreement">
    <p class="title">1.导言</p>
    <p>
        1.1 一刻钟婚礼全景网《平台服务协议》（以下简称“本协议”）是用户（以下也称 “您”）与一刻钟婚礼全景网（以下简称“一刻钟”）之间的协议，
        一刻钟将严格依照本协议条款提供产品与/或服务。本协议条款构成您使用一刻钟所提供的产品与/或服务及其衍生服务之先决条件，您应当在仔细阅读、
        充分理解本协议后使用的产品与/或服务，您使用一刻钟提供的产品与/或服务的行为（包括启动、浏览、注册、登录、使用、展示、购买等），
        都表示您同意并接受本协议的全部条款；如果您不愿意接受本协议的任一条款，您应不使用或停止使用一刻钟提供的任何产品与/服务。
        一刻钟的平台上出现的相关操作提示、使用帮助、消息提醒或一刻钟以其他方式向您展示的规则、流程等均构成您使用一刻钟的产品与/或服务的相关规则的一部分，
        与本协议具有同等效力。
    </p>
    <p>
        1.2 在您接受本协议之后，本协议可能因国家政策、产品与/或服务以及履行本协议的环境发生变化而进行修改，修改后的协议更新在一刻钟的平台适当的位置。
        如您在本协议更新后继续使用一刻钟的产品与/或服务，即表示您已充分阅读、理解并接受更新后的本协议并愿意受更新后的本协议约束。
    </p>
    <p>
        1.3 本协议所称“用户”，包括注册用户及未注册用户。凡未注册一刻钟的产品与/或服务的用户，自启用一刻钟的产品与/或服务时即自动成为一刻钟的“非注册用户”，
        须遵循除本协议用户注册规定以外的其他所有条款。
    </p>
    <p>
        1.4 本协议所称“一刻钟”，是指青岛云视拓智能科技有限公司开发并注册备案的婚礼全景网站平台，一刻钟内所有的产品和服务均由青岛云视拓智能科技有限公司代理或提供，
        青岛云视拓智能科技有限公司享有一刻钟婚礼全景网的全部版权，本协议最终解释权归青岛云视拓智能科技有限公司所有。您可以通过查看一刻钟底部的关于我们，
        来进一步了解青岛云视拓智能科技有限公司。
    </p>
    <p>
        1.5 一刻钟需要特别提醒您的是：由于一刻钟的产品和服务较多，为您提供的产品和服务内容也有所不同，本协议为一刻钟统一适用的一般性用户服务条款。
        针对一刻钟的某些特定产品/服务，一刻钟还将制定特定用户服务协议，以便更具体地向您阐明一刻钟的服务内容、服务规则等内容。
    </p>
    <p>
        1.6 如果您为未满18周岁的自然人，请在法定监护人的陪同下阅读本协议，并特别注意未成年人使用条款。未成年人行使和履行本协议项下的权利和义务视为已获得了法定监护人的认可。
    </p>
    <p>
        1.7 如您在阅读本协议过程中有任何疑惑或其他相关事宜的，您可通过产品首页的“联系我们”渠道、拨打人工客服电话与一刻钟取得联系；同时，
        您也可以发邮件至807374687@qq.com或通过信件方式邮寄给一刻钟，一刻钟的收件地址提供于本协议的文末。一刻钟会尽快为您作出解答。
    </p>
    <br>
    <p class="title">2.总则</p>
    <p>
        2.1一刻钟有权基于其认定的事实对用户的行为进行判断，并有权根据网站规则协议执行对违规违法行为进行惩处。一刻钟用户在适用本规则上一律平等。
        用户在一刻钟观看、展示、上传、交易等行为时，应当遵循平等、自愿、诚实、信用原则。
    </p>
    <p>
        2.2一刻钟用户在一刻钟上的全部行为仅代表其自身，不代表一刻钟，基于一刻钟用户行为的所有法律责任均由用户自行承担。
    </p>
    <p>
        2.3用户应遵守国家法律、行政法规、部门规章、规范性文件等规定。对任何涉嫌违反国家法律、行政法规、部门规章、规范性文件等行为，本规则已有规定的，
        适用本规则；本规则尚无规定的，一刻钟有权根据法律规定酌情处理。但一刻钟对用户的任何处理措施均不能免除用户自身应负的法律责任。
    </p>
    <p>
        2.4一刻钟仅是网站服务提供平台，不对一刻钟用户在一刻钟上的所有操作、行为负责，
        一刻钟对部分作品拥有版权，但不对外声明任何版权，用户间的分享、交流、交易行为均与一刻钟无关。
    </p>
    <p>
        2.5一刻钟用户在一刻钟上浏览、展览、分享、交流作品时，可以将该作品用于在线的展览、展示、交流、沟通中，但不得用于任何商业用途，
        若一刻钟用户自行对一刻钟网站及作品进行下载、转载、转存、离线观看、录播、拷贝、截图等其用于任何商业用途，均应自行承担由此对一刻钟平台造成的所有法律责任。
    </p>
    <p>
        2.6一刻钟用户将其原创作品或者资料上传至一刻钟进行沟通交流的，应保证享有该作品的完整版权，保证资料的真实性和公开性，若因版权瑕疵或资料问题给一刻钟用户、
        一刻钟造成任何法律责任，应由作品上传用户承担所有法律责任。如发现一刻钟作品存在侵权行为，请及时联系我们，我们会在第一时间为您提供相应的解决方案。
    </p>
    <p>
        2.7未经一刻钟许可，任何人不得盗链一刻钟作品资源；不得复制或仿造本站或者在非一刻钟所属服务器上建立镜像，一刻钟的标识、源代码、及所有页面的版式设计等，
        版权归一刻钟所有。未经授权，不得用于除一刻钟之外的任何站点。
    </p>
    <p>
        2.8 一刻钟提供的全景展示作品不代表用户亲自制作的作品，只有付费用户才可以浏览并查看全景作品，作品仅供参考，场景无法100%还原，一刻钟只提供辅助搭建的相关信息，
        不参与任何具体的婚礼场布搭建工作，不提供任何婚礼场布搭建服务。
    </p>
    <br>
    <p class="title">3.注册协议</p>
    <p>
        3.1当您在注册程序过程中，点击注册并按照注册程序成功注册为一刻钟用户即表示您完全接受本协议项内的全部条款，或您以其他一刻钟允许的方式实际使用一刻钟服务时，
        即表示您已充分阅读、理解并接受本协议的全部内容，并与一刻钟达成协议。您承诺接受并遵守本协议的约定， 届时您不应以未阅读本协议的内容或者未获得一刻钟对您问询的解答等理由，
        主张本协议无效或本协议中的某些条款无效，或不遵守本协议约定。
    </p>
    <p>3.2用户注册是指用户登录一刻钟，并按要求填写相关信息并确认同意履行相关用户协议的过程。</p>
    <p>3.3符合下列条件之一的自然人、法人或其他组织可以申请成为本网站会员，可以使用本网站的服务。</p>
    <p>3.3.1 根据中国法律年满18周岁或16周岁以上不满18周岁但以自己的劳动收入为主要生活来源的，具备完全民事行为能力的自然人或根据其本国法律具有完全民事行为能力的外国自然人。</p>
    <p>3.3.2 无民事行为能力人、限制民事行为能力人应经过其监护人同意。</p>
    <p>3.3.3 根据中国或外国法律、法规、行政规章成立并合法存在的机关、企事业单位、社团组织和其他组织。未经批准设立的组织不能注册为一刻钟用户。</p>
    <p>3.4不当注册为一刻钟用户或超过其民事权利或行为能力范围从事交易的，其与一刻钟之间的服务协议自始无效，一经发现，一刻钟有权立即注销该用户，并追究其使用一刻钟“服务”的一切法律责任。</p>
    <p>
        3.5一刻钟帐号（即一刻钟用户ID）的所有权归一刻钟，用户完成注册申请手续后，获得一刻钟帐号的使用权。用户应提供及时、详尽及准确的个人资料，
        并不断更新注册资料，符合及时、详尽准确的要求。所有原始键入的资料将引用为注册资料。如果因注册信息不真实而引起的问题，并对问题发生所带来的后果，
        一刻钟不负任何责任。用户应当对以其用户帐号进行的所有活动和事件负法律责任。
    </p>
    <p>
        3.6用户需妥善保管自己注册的一刻钟账号与密码，禁止用户将其帐号、密码透露、泄露、对外公布或以转让或出借等方式提供给他人使用，如用户发现其帐号遭他人非法使用，
        应立即通知一刻钟。因黑客行为或用户的保管疏忽或不当导致帐号、密码遭他人非法使用，由用户或非法使用人承担责任，一刻钟不承担任何责任。
    </p>
    <br>
    <p class="title">4.个人主页使用</p>
    <p>一刻钟个人主页是一刻钟免费提供给一刻钟用户展示作品的服务，您无权实施包括但不限于下列行为：</p>
    <p>4.1不得在“个人主页”以任何形式发布广告信息，进行推广宣传其他网站、产品等。</p>
    <p>4.2不得在“个人主页”提供个人联系方式，QQ、MSN、微信、E-mail、电话等。包括不允许在“个人主页”提供即时通讯，如QQ交谈等。</p>
    <p>4.3不得对“个人主页”进行反向工程、反向汇编、反向编译等。</p>
    <p>4.4对于“个人主页”相关信息等，未经一刻钟书面同意，用户不得擅自实施包括但不限于下列行为：使用、复制、修改、链接、转载、发表、出版，建立镜像站点、擅自借助“软件”发展与之有关的衍生产品、作品。</p>
    <p>4.5利用“个人主页”发表、传送、传播、储存危害国家安全、祖国统一、社会稳定的内容，或侮辱诽谤、色情、暴力、引起他人不安及任何违反国家法律法规政策的内容。</p>
    <p>4.6利用“个人主页”发表、传送、传播、储存侵害他人知识产权、商业机密权等合法权利的内容。</p>
    <br>
    <p class="title">5.服务变更、中断或终止</p>
    <p>
        5.1 鉴于网络服务的特殊性，用户同意一刻钟有权随时变更、中断或终止部分或全部的网络服务（包括收费网络服务）。如变更、中断或终止的网络服务属于免费网络服务，一刻钟无需通知用户，
        也无需对任何用户或任何第三方承担任何责任；如变更、中断或终止的网络服务属于收费网络服务，一刻钟应当在变更、中断或终止之前事先通知用户。
    </p>
    <p>
        5.2 用户理解，一刻钟需要定期或不定期地对提供网络服务的平台（如互联网网站）或相关的设备进行检修或者维护，如因此类情况而造成收费网络服务在合理时间内的中断，
        一刻钟无需为此承担任何责任，但一刻钟应尽可能事先进行通告。
    </p>
    <p>5.3 如发生下列任何一种情形，一刻钟有权随时中断或终止向用户提供本协议项下的网络服务（包括收费网络服务）而无需对用户或任何第三方承担任何责任：</p>
    <p>5.3.1 用户提供的个人资料不真实。</p>
    <p>5.3.2 用户违反本协议中规定的使用规则。</p>
    <p>5.3.3 用户在使用收费网络服务时未按规定向一刻钟支付相应的服务费。</p>
    <br>
    <p class="title">6.违规违法行为及处理</p>
    <p>6.1违规违法行为，是指违反法律、法规及相关规章制度规范性文件、一刻钟平台服务协议、隐私政策等一刻钟规定，损害一刻钟用户、一刻钟或第三方合法权益的行为。</p>
    <p>6.2一刻钟用户有违规行为的，一刻钟可以对用户处以扣除违约金、严重警告、取消会员资格、封存账户、禁言、扣除积分、删除作品、删除账户等处罚。一刻钟用户有违法行为的，一刻钟有权向国家有关部门举报并追究其法律责任。</p>
    <p>6.3违规违法的执行</p>
    <p>6.3.1一刻钟用户的违规违法行为，通过一刻钟会员、权利人的投诉或一刻钟排查发现。</p>
    <p>6.3.2一刻钟用户注册后，即同意授权一刻钟有权对用户间的争议，以非专业者的知识水平标准对相关争议事项进行调处。</p>
    <p>6.3.3一刻钟用户对于违规违法行为作出的承诺或说明与本规则相悖的，一刻钟不予采信。除证据有误或判断错误的情形外，对违规违法行为的处罚不中止、不撤销。</p>
    <br>
    <p class="title">7.费用</p>
    <p>一刻钟婚礼全景平台为向您提供的服务付出了大量的成本，一刻钟有权根据一刻钟相关规则向您收取一定费用作为网站维护的费用。</p>
    <br>
    <p class="title">8.免责声明</p>
    <p>8.1 用户明确同意其使用一刻钟网络服务所存在的风险将完全由其自己承担；因其使用一刻钟网络服务而产生的一切后果也由其自己承担，一刻钟对用户不承担任何责任。</p>
    <p>8.2 一刻钟不担保网络服务一定能满足用户的要求，也不担保网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。</p>
    <p>8.3 一刻钟不保证为向用户提供便利而设置的外部链接的准确性和完整性，同时，对于该等外部链接指向的不由一刻钟实际控制的任何网页上的内容，一刻钟不承担任何责任。</p>
    <p>8.4 对于因不可抗力或一刻钟不能控制的原因造成的网络服务中断或其它缺陷，一刻钟不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</p>
    <p>8.5 用户同意，对于一刻钟向用户提供的下列产品或者服务的质量缺陷本身及其引发的任何损失，一刻钟无需承担任何责任：</p>
    <p>8.5.1 一刻钟向用户免费提供的各项网络服务；</p>
    <p>8.5.2 一刻钟向用户赠送的任何产品或者服务；</p>
    <p>8.5.3一刻钟向收费网络服务用户附赠的各种产品或者服务。</p>
    <br>
    <p class="title">9.法律管辖</p>
    <p>9.1 本协议的订立、执行和解释及争议的解决均应适用中国法律并受中国法院管辖。</p>
    <p>9.2 如双方就本协议内容或其执行发生任何争议，双方应尽量友好协商解决；协商不成时，任何一方均可向一刻钟所在地的人民法院提起诉讼。</p>
    <br>
    <p class="title">10.附则</p>
    <p>10.1本公约中的以上，包含本数；本公约中的以下，不包含本数。</p>
    <p>10.2 本公约中的作品指图片、视频等数字视觉作品，货币指人民币。</p>
    <p>10.3 本公约自发布之日起施行。一刻钟用户的行为，在本公约生效或修订以前结束的，适用当时的公约；发生或延续在本公约生效或修订以后的，适用本公约。</p>
    <p>10.4 本公约最终解释权在法律允许的范围内归一刻钟所有。</p>
</div>
<include file="Public/footer" />