<!-- 头部引入 -->
<include file="Public/header_new" />
<body>
<div class="header2">
    <div class="container">
        <a href="/" class="left clearfix">
            <img src="/Public/new/img/index_logo.png" alt="">
        </a>
        <div class="right">
            <a href="/">首页</a>
            <a href="/home/center">个人中心</a>
        </div>
    </div>
</div>
<div class="hy_banner">
    <img src="/Public/new/img/banner2.jpg" alt="">
</div>
<div class="container contact-us">
    <p>青岛云视拓智能科技有限公司
        客服热线 400-083-9798（周一至周五9:00-18:00）<br/>
        网站备案号：鲁ICP备18057238号-1<br/>
        若您发现您的权利被侵害，请及时与我们联系。<br/>
        腾讯QQ807372687&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;邮箱807374687@qq.com</p>
</div>
<include file="Public/footer" />