<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/Public/admin/images/favicon.ico">
    <link rel="stylesheet" href="/Public/new/css/swiper.css">
    <link rel="stylesheet" href="/Public/new/css/bootstrap.css">
    <link rel="stylesheet" href="/Public/new/css/common.css">
    <link rel="stylesheet" href="/Public/new/css/sharp.css">
    <script src="/Public/new/js/jquery.min.js"></script>
    <script src="/Public/new/js/swiper.js"></script>
    <script src="/Public/new/js/bootstrap.min.js"></script>
    <script src="/Public/new/layer/layer.js"></script>
    <script src="/Public/new/js/jquery-form.js"></script>
    <title>一刻钟</title>
</head>