@charset "utf-8";

body{
	font-family: "微软雅黑";
}
html{
	overflow-x: hidden;
}
a:hover,a:focus{
	text-decoration: none;
}
a:focus,a{
	color:inherit;
}
a:visit{
	text-decoration: none;
}
a:hover{
	color: #ff443f;
}
.header{
	height: 300px;
	background: url(../img/banner1.jpg) no-repeat center/cover;
}
.header *{
	transition:all 0.3s;
}
.header .logo_box{
	display: block;
	padding-top: 85px;
	float: left;
}
.header .logo{
	display: block;
	height: 133px;
	float: left;
}
.header .name{
	display: block;
	float: left;
	margin-top: 23px;
	margin-left: 30px;
}
.snav{
	float: right;
	font-size: 18px;
	color: #fff;
	margin-top: 120px;
	line-height: 40px;
}
.snav li{
	float: left;
	margin-left: 35px;
}
.snav .personal{
	display: block;
	border:1px solid #fff;
	border-radius: 20px;
	padding: 0 20px;
}
@media (max-width: 992px) {
	.header .logo_box{
		padding-top: 20px;
	}
	.header .logo{
		height: 100px;
	}
	.header .name{
		width: 300px;
	}
	.header .name{
		margin-top: 15px;
	}
	.snav{
		margin-top: 40px;
	}
	.header{
		height: 155px;
	}
}
@media (max-width: 768px) {
	.header .logo{
		height: 55px;
	}
	.header .name{
		width: 235px;
	}
	.header .name{
		margin-top: 6px;
		margin-left: 10px;
	}
	.header .logo_box{
		float: none;
	}
	.header{
		height: 200px;
	}
	.snav{
		float: none;
		width: 100%;
		font-size: 16px;
		line-height: 30px;		
	}
	.snav li{
		margin-left: 0;
		margin-right: 25px;
	}
}
.sub_nav{
	line-height: 78px;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}
.sub_nav li{
	float: left;
	font-size: 20px;
	margin-right: 60px;
	border-bottom: 2px solid transparent;
}
.sub_nav li.on{
	border-color: #f46465;
	color: #f46465;
}
.sub_nav li:hover a{
	color: #f46465;
}
.case_list .title{
	font-size: 30px;
	font-weight: bold;
	padding-top: 85px;
	padding-bottom: 40px;
	position: relative;
}
.case_list .title em{
	display: inline-block;
	font-style: normal;
	position: relative;
	z-index: 2;
}
.case_list .title span{
	font-size: 80px;
	font-weight: bold;
	color: #f4f4f9;
	display: block;
	position: absolute;
	top: 40px;
	left: 0;
}
.case_nav{
	border-radius: 5px;
	background: #f9f7fc;
	margin-bottom: 60px;
}
.case_nav .left{
	float: left;
}
.case_nav .right{
	float: right;
}
.case_nav  li{
	float: left;
	line-height: 60px;
	padding: 0 20px;
	font-size: 16px;
}
.case_nav  li:hover a,.case_nav  li.on a{
	color: #f46465;
}
.main_list li{
	position: relative;
	height: 340px;
	padding-left: 250px;
	margin-bottom: 55px;
	padding-right: 40px;
}
.main_list li:nth-child(2n){
	padding-right: 0;
	padding-left: 290px;
}
.main_list .img_box{
	width: 220px;
	height: 340px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	border-radius: 5px;
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	transition:all 0.3s;
}
.main_list li:nth-child(2n) .img_box{
	left: 40px;
}
.main_list .img_box:hover{ 
  box-shadow: 0px 4px 6.16px 0.84px rgba(0, 0, 0, 0.2);
}

.main_list .t{
	line-height: 32px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.main_list .t .id{
	display: block;
	float: left;
	position: relative;
	padding-left: 42px;
	border:1px solid #e6e6e6;
	overflow: hidden;
	padding-right: 12px;
	border-radius: 4px;
}
.main_list .t .id em{
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background: #000;
	display: block;
	font-style: normal;
	width: 30px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
    background-image: -webkit-linear-gradient(bottom left, rgb(97,165,240) 0%, rgb(91,195,230) 100%);
    background-image: -o-linear-gradient(bottom left, rgb(97,165,240) 0%, rgb(91,195,230) 100%);
    background-image: linear-gradient(to top right, rgb(97,165,240) 0%, rgb(91,195,230) 100%);
}
.main_list .t .view{
	float: right;
	color: #989898;
	background:url(../img/eye.png) no-repeat left center/auto 10px;
	padding-left: 25px;
}
.main_list .m_title{
	display: block;
	font-size: 20px;
	line-height: 24px;
	vertical-align: top;
	margin-bottom: 30px;
}
.main_list .m_title span{
	font-size: 17px;
	vertical-align: top;
}
.main_list .price{
	line-height: 20px;
	margin-bottom: 25px;
}
.main_list .price span{
	font-size: 16px;
	font-weight: bold;
	color: #fc453f;
}
.main_list .des{
	font-size: 16px;
	color: #999;
	line-height: 1.7;
	height: 81px;
	width: 100%;
	overflow: hidden;
	-ms-text-overflow: ellipsis;text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical; 
	-webkit-line-clamp: 3;
}
.main_list .more{
	display: block;
	margin-top: 40px;
	padding-left: 50px;
	background: url(../img/img.png) no-repeat left center;
	transition:all 0.3s;
}
.main_list .more:hover{
	padding-left: 55px;
}
.main_list .heart{
	width: 40px;
	height: 40px;
	margin:0 auto 30px;
	background: url(../img/heart_g.png) no-repeat;
	position: relative;
	top: -50px;
	opacity: 0;
	transition:all 0.3s;
}
.main_list .heart.on{
	background: url(../img/heart_c.png) no-repeat;
}
.main_list .inner{
	position: absolute;
	top: 50%;
	width: 100%;
	margin-top: -52px;
}
.main_list .vr{
	width: 130px;
	height: 34px;
	border-radius: 17px;
	background: #f46665;
	color: #fff;
	text-align: center;
	line-height: 34px;
	font-size: 16px;
	margin:0 auto;
	transition:all 0.3s;
	position: relative;
	top: 50px;
	opacity: 0;
}
.main_list .img_box:hover .vr,.main_list .img_box:hover .heart{
	opacity: 1;
	top: 0;
}
.main_list .vr:hover{
	background: #ff3e3d;
}
.main_list .img_box .mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.3);
	top: 0;
	left: 0;
	transition:all 0.3s;
	opacity: 0;
}
.main_list .img_box:hover .mask{
	opacity: 1;
}
.pages{
	text-align: center;
	margin-bottom: 105px;
	margin-top: 65px;
}
.pages a{
	display: inline-block;
	text-align: center;
	width: 36px;
	height: 36px;
	border-radius: 18px;
	background: #f5f5f5;
	line-height: 36px;
	color: #859ba6;
	margin:0 5px;
}
.pages a.on{
	color: #fff;
	background: #f46464;
}
.pages a.auto{
	width:auto;
	padding-right: 15px;
	padding-left: 15px;
}
.pages a:hover{
	color: #fff;
	background: #f46464;
}
footer{
	text-align: center;
	background: #f4f7f8;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 15px;
	padding-left: 15px;
}
footer p span{
	display: inline-block;
}
footer .t span{
	display: inline-block;
	margin:0 5px;
}
footer p{
	margin-top: 25px;
	color: #878989;
}
@media (max-width: 992px) {
	.case_nav .right{
		float: left;
	}
	.main_list li:nth-child(2n){
		padding-left: 250px;
	}
	.main_list li:nth-child(2n) .img_box{
		left: 0;
	}
}
@media (max-width: 768px) {
	.main_list .img_box{
		width: 150px;
		height: 300px;
	}
	.main_list li{
		height: 300px;
		padding-left: 160px;
		padding-right: 0;
		margin-bottom: 30px;
	}
	.main_list .t{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.main_list .m_title{
		font-size: 16px;
		margin-bottom: 10px;
	}
	.main_list .des{
		font-size: 14px;
		width: 100%;
		overflow: hidden;
		-ms-text-overflow: ellipsis;text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-box-orient: vertical; 
		-webkit-line-clamp: 4;
		height: 95px;
	}
	.main_list .more{
		margin-top: 25px;
	}
	.main_list li:nth-child(2n){
		padding-left: 160px;
	}
	.main_list .price span{
		font-size: 14px;
	}
	.main_list .price{
		margin-bottom: 10px;
	}
	.main_list .m_title span{
		font-size: 14px;
	}
	.main_list .t .id{
		padding-right: 5px;
		padding-left: 36px;
	}
	.main_list .t .view{
		padding-left: 20px;
	}
	.case_nav li{
		padding: 0 8px;
		font-size: 14px;
	}
	.case_list .title{
		padding-top: 60px;
	}
	.case_list .title span{
		top: 15px;
	}
	.pages a{
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin:0 1px;
	}
	.pages a.auto{
		padding-right: 10px;
		padding-left: 10px;
	}
}
.case_nav .right{
	display: none;
}
.modal.in .modal-dialog{
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 0;
	transform: translate(-50%,-50%);
}
.modal-dialog img{
	display: block;
	width: 100%;
}
.modal-content{
	background: none;
	box-shadow: none;
	border:none;
}
.modal-body{
	padding: 0;
}
.modal-footer{
	border:none;
	text-align: center;
}
.modal button.btn{
	width: 180px;
	height: 38px;
	border-radius: 4px;
	border:1px solid #fff;
	margin:0;
	background: none;
	color: #fff;
	font-size: 16px;
	margin:0 30px;
}
@media (max-width: 768px) {
	.modal{
		padding-right: 0 !important;
	}
	.modal.in .modal-dialog{
		width: 90%;
		margin:0;
	}
	.modal button.btn{
		width: 100px;
		margin:0 10px;
		padding: 0;
	}
}

.main_list .t .id em.red{	
  background-image: -moz-linear-gradient( 45deg, rgb(243,90,93) 0%, rgb(249,150,144) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(243,90,93) 0%, rgb(249,150,144) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(243,90,93) 0%, rgb(249,150,144) 100%);
}
.main_list .t .id em.yellow{
  background-image: -moz-linear-gradient( 45deg, rgb(255,166,82) 0%, rgb(254,208,96) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(255,166,82) 0%, rgb(254,208,96) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(255,166,82) 0%, rgb(254,208,96) 100%);
}
.main_list .t .id em.green{
  background-image: -moz-linear-gradient( 45deg, rgb(92,207,130) 0%, rgb(155,224,167) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(92,207,130) 0%, rgb(155,224,167) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(92,207,130) 0%, rgb(155,224,167) 100%);
}
.main_list .t .id em.qing{
  background-image: -moz-linear-gradient( 45deg, rgb(98,196,181) 0%, rgb(89,220,186) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(98,196,181) 0%, rgb(89,220,186) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(98,196,181) 0%, rgb(89,220,186) 100%);
}
.position{
	padding: 25px 15px;
	font-size: 16px;
	color: #333;
	background: url(../img/home.png) no-repeat left center;
	padding-left: 30px;
}
.position a:hover,.position a.on{
	color: #ff443f;
}
.in_banner img{
	display: block;
	width: 100%;
}
.case_in{
	position: relative;
	z-index: 99;
	margin-top: -60px;
}
.case_in .title{	
	background: #fff;
	box-shadow: 0px 2px 24px 0px rgba(255, 68, 63, 0.1);
	margin-bottom: 45px;
	padding: 40px 30px;
}
.case_in .title h1{
	font-size: 30px;
	line-height: 1;
	margin-bottom: 35px;
}
.case_in .title h2{
	font-size: 20px;
	line-height: 1;
}
.case_in .title h2 span{
	font-size: 30px;
	color: #ff443f;
}
.case_in .title .left{
	float: left;
}
.case_in .title .pop{
	float: right;
}
.case_in .title .pop .star{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 40px;
	padding-top: 15px;
}
.case_in .title .pop .person{
	font-size: 18px;
	color: #808080;
	background: url(../img/eye.png) no-repeat left center;
	padding-left: 35px;
}
.case_in .title .pop .star em{
	display: inline-block;
	width: 21px;
	height: 20px;
	background: url(../img/star_y.png);
	margin:0 2px;
	vertical-align: top;
}
.in_id{
	margin-bottom: 40px;
}
.in_id .l{
	float: left;
	position: relative;	
	height: 36px;
	line-height: 34px;
	font-size: 18px;
	border:1px solid #333333;
	padding-left: 60px;
	padding-right: 30px;
}
.in_id .l em{
	display: block;
	font-style: normal;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	background: #333;
	color: #fff;
	left: 0;
	width: 36px;	
}
.in_id .store{
	float: right;
	line-height: 36px;
	font-size: 18px;
}
.in_id .store .in_heart{
	display: inline-block;
	width: 21px;
	height: 20px;
	cursor: pointer;
	background: url(../img/in_heart.png);
	vertical-align: middle;
	transition:all 0.3s;
}
.in_id .store .in_heart.on{
	background: url(../img/in_heart_on.png);
}
.in_nav{
	border-top: 1px dashed #ff8f8c;
	border-bottom: 1px dashed #ff8f8c;
	background: #fffafa;
	padding-top: 25px;
	padding-bottom: 25px;
}
.in_nav li{
	float: left;
	font-size: 18px;
	position: relative;
	padding-right: 30px;
}
.in_nav li.cir{
	width: 42px;
	height: 24px;
	position: relative;
}
.in_nav li::after{
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 2px;
	background: #333;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -2px;
	
}
.in_nav li:last-child::after{
	display: none;
}
.in_nav li:hover a,.in_nav li.on a{
	color: #ff443f;
}
.in_con .box{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 40px;
	display: none;
}
.in_con .box:first-child{
	display: block;
}
.guess{
	position: relative;
	margin-bottom: 75px;
}
.guess .img_box{
	width: 100%;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
}
.guess .title{
	line-height: 30px;
	font-size: 20px;
	border-right: 1px solid #e5e5e5;	
	border-left:1px solid #e5e5e5;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 25px;
}
.guess .title i{
	float: right;
	font-size: 14px;
	vertical-align: bottom;
	font-style: normal;
}
.guess .title i em{
	margin-left: 3px;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: -3px;
	vertical-align: middle;
	background: url(../img/star_y.png) no-repeat center/cover;
}
.guess .price span{
	color: #ff443f;
	font-size: 16px;
}
.guess .price{
	padding-top: 11px;
	padding-bottom: 30px;
	border-right: 1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	padding-right: 15px;
	padding-left: 15px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
	left: -30px;
	outline: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
	right: -30px;
	outline: none;
}
@media (max-width: 768px) {
	.case_in .title{
		padding: 10px;
		margin-bottom: 15px;
	}
	.case_in .title h1{
		font-size: 18px;
		margin-bottom: 20px;
	}
	.case_in .title .left{
		float: none;
	}
	.case_in .title .pop{
		float: none;
	}
	.case_in .title .pop .star{
		padding-top: 40px;
		margin-bottom: 10px;
	}
	.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
		left: 10px;
		outline: none;
	}
	.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
		right: 10px;
		outline: none;
	}
}
.guess .tt{
	font-size: 18px;
	margin-bottom: 30px;
	position: relative;
}
.guess .tt::after{
	content: "";
	display: block;
	width: 24px;
	height: 1px;
	background: #333;
	bottom: -5px;
	left: 0;
	position: absolute;
}
.header2{
	padding-top: 35px;
	padding-bottom: 35px;
}
.header2 .left{
	display: block;
	float: left;
}
.header2 .left img{
	display: block;
	height: 50px;
	margin-top: 5px;
	float: left;
}
.header2 .left .logo_t{
	float: left;
	margin-left: 18px;
}
.header2 .left .logo_t span{
	display: block;
	font-size: 20px;
	color: #333;
}
.header2 .left .logo_t em{
	font-style: normal;
	display: block;
	color: #999999;
}
.header2 .right{
	float: right;
	margin-top: 18px;
}
.header2 .right a{
	display: block;
	float: left;
	margin:0 15px;
	font-size: 18px;
}
.hy_banner img{
	display: block;
	width: 100%;
}
.hy_list .title{
	text-align: center;
	padding: 50px 0;
}
.hy_list .title img{
	display: block;
	margin:0 auto 18px;
}
.hy_list .title span{
	display: inline-block;
	font-size: 16px;
	text-align: center;
	position: relative;
}
.hy_list .title span::after,.hy_list .title span::before{
	content: "";
	display: block;
	width: 20px;
	height: 1px;
	background: #333;
	position: absolute;
}
.hy_list .title span::after{
	left: -35px;
	top: 50%;
	margin-top: -0.5px;
}
.hy_list .title span::before{
	right: -35px;
	top: 50%;
	margin-top: -0.5px;
}
.hy_tab{
	text-align: center;
	margin-bottom: 50px;
}
.hy_tab a{
	display: inline-block;
	font-size: 14px;
	color: #333333;	
	padding: 0 20px;
	line-height: 34px;
	border:1px solid #333333;
	margin:0 18px;
	transition:all 0.3s;
}
.hy_tab a.on,.hy_tab a:hover{
	color: #fff;
	background: #333;
}
.hy_ul .img_box{
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	height: 480px;
	text-align: center;
	
}
.hy_ul li{
	margin-bottom: 30px;
	position: relative;
}
.hy_ul .img_box .mask_hy{
	width: 100%;
	height: 100%;
	padding-top: 200px;
	background: rgba(0,0,0,.4);
	font-size: 18px;
	color: #fff;
}
.hy_ul .img_box .no{
	position: relative;
	left: 100px;
	opacity: 0;
	transition:all 0.3s;
}
.hy_ul .img_box .btn_hy{
	width: 100px;
	height: 36px;
	line-height: 34px;
	text-align: center;
	border-radius: 18px;
	margin:0 auto;
	border:1px solid #fff;
	margin-top: 30px;
	transition:all 0.3s;
	position: relative;
	left: -100px;
	opacity: 0;
	display: block;
}
.hy_ul li:hover .no,.hy_ul li:hover .btn_hy{
	left: 0;
	opacity: 1;
}
.hy_ul .img_box .btn_hy:hover{
	border-color:#ff443f;
	text-align: center;
	color: #fff;
	background: #ff443f;
}
.hy_ul .bottom{
	background: #f5f5f5;
	padding: 25px 15px;
	color: #333;
}
.hy_ul .title_{
	font-size: 20px;
	position: relative;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
	display: block;
}
.hy_ul .title_ span{
	display: block;
	position: absolute;
	width: 17px;
	height: 16px;
	background: url(../img/in_heart.png) no-repeat center/100% 100%;
	right: 0;
	top: 50%;
	margin-top: -8px;
	transition:all 0.3s;
	cursor: pointer;
}
.hy_ul .title_ span.on{
	background: url(../img/in_heart_on.png) no-repeat center/100% 100%;
}
.hy_ul .pop{
	margin-top: 15px;
	margin-bottom: 20px;
}
.hy_ul .pop .star{
	float: left;
}
.hy_ul .pop .star em{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 4px;
	background: url(../img/star_y.png) no-repeat center/cover;
}
.hy_ul .pop .count{
	float: right;
}
.hy_ul .pop .count i{
	font-style: normal;
	color: #ff443f;
}
.hy_ul .price span{
	font-size: 20px;
	color: #ff443f;
}
.hy_ul .new_tag::after{
	content: "";
	display: block;
	width: 58px;
	height: 58px;
	background: url(../img/new.png);
	z-index: 15;
	position: absolute;
	top: -8px;
	left: 15px;
}
.hy_ul .pop_tag::after{
	content: "";
	display: block;
	width: 58px;
	height: 58px;
	background: url(../img/pop.png);
	z-index: 15;
	position: absolute;
	top: -8px;
	left: 15px;
}
.page_b{
	text-align: center;
	margin-bottom: 80px;
}
.page_b a{
	display: inline-block;
	border-radius: 2px;
	border:1px solid #e5e5e5;
	color: #869ba5;
	padding: 10px 15px;
}
.page_b a:hover,.page_b a.on{
	color: #fff;
	background: #ff443f;
}
.header2 .container{
	position: relative;
}
.header2 .search_box{
	position: absolute;
	width: 100%;
	left: 0;
	height: 40px;
	border:1px solid #000;
	padding-right: 125px;
	bottom: -75px;
	display: none;
}
.header2 .search_box input[type='text']{
	display: block;
	width: 100%;
	border:none;
	padding: 0;
	outline: none;
	height: 100%;
	text-indent: 2em;
}
.header2 .search_box input[type='submit']{
	display: block;
	position: absolute;
	width: 125px;
	border:none;
	padding: 0;
	outline: none;
	height: 100%;
	top: 0;
	right: 0;
	font-size: 16px;
	background: #ff443f;
	color: #fff;
}
.header2 .search_box form{
	display: block;
	height: 100%;
}
@media (max-width: 768px) {
	.header2{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.header2 .left{
		float: none;
	}
	.header2 .right{
		float: none;
		display: block;
	}
	.hy_list .title{
		padding: 25px 0;
	}
	.hy_tab a{
		margin:0 5px;
		margin-bottom: 20px;
	}
	.hy_ul .img_box{
		height: 380px;		
	}
	.hy_ul .img_box .mask_hy{
		padding-top: 135px;
	}
	.hy_ul .bottom{
		padding: 15px 10px;
	}
	.page_b a{
		padding:2px 8px;
	}
}
.hy_in .img_box{
	height: 500px;
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
}
.hy_in .top_t{
	line-height: 36px;
	padding-top: 15px;
}
.hy_in .top_t .id{
	float: left;
	border:1px solid #333;
	position: relative;
	padding-left: 45px;
	padding-right: 10px;
}
.hy_in .top_t .id em{
	display: block;
	position: absolute;
	height: 100%;
	width: 36px;
	background: #333;
	color: #fff;
	text-align: center;
	font-style: normal;
	text-transform: uppercase;
	left: 0;
}
.hy_in .top_t .store{
	float: right;
	line-height: 36px;
	font-size: 18px;
}
.hy_in .top_t .store .in_heart{
	display: inline-block;
	width: 21px;
	height: 20px;
	cursor: pointer;
	background: url(../img/in_heart.png);
	vertical-align: middle;
	transition:all 0.3s;
}
.hy_in .top_t .store .in_heart.on{
	background: url(../img/in_heart_on.png);
}
.hy_in .title{
	font-size: 30px;
	margin:20px 0;
}
.hy_in .pop{
	font-size: 18px;
}
.hy_in .pop em{
	display: inline-block;
	width: 21px;
	height: 20px;
	background: url(../img/star_y.png);
	margin-left: 5px;
}
.hy_in .price{
	line-height: 78px;
	border:1px dashed #e6e6e6;
	border-right: none;
	border-left: none;
	margin-top: 30px;
	margin-bottom: 25px;
	font-size: 20px;
}
.hy_in .price span{
	font-size: 30px;
	color: #ff443f;
}
.hy_in .des{
	font-size: 18px;
	line-height: 32px;
}
.hy_in .bottom{
	padding-top: 40px;
}
.hy_in .bottom .left{
	border-right: 1px solid #ddd;
	padding: 0;
	padding-bottom: 50px;
}
.hy_in .bottom .left input[type='submit']{
	display: block;
	width: 200px;
	height: 40px;
	color: #fff;
	background: #ff443f;
	font-size: 16px;
	border:none;
	margin:0 auto 25px;
}
.hy_in .bottom .left li::after{
	content: "";
	display: block;
	clear: both;
}
.hy_in .bottom .left li{
	margin-bottom: 15px;
}
.hy_in .bottom .left li span{
	display: block;
	width: 33.333333333333333333333333333%;
	float: left;
	text-align: center;
	padding-right: 15px;
}
.hy_in .bottom .left li span input{
	width: 100%;
	text-align: center;
	height: 30px;
	border:1px solid #e5e5e5;
}
.hy_in .bottom .add_btn{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: url(../img/icon_add.png);
	cursor: pointer;
	margin:0 auto 30px;
	transform: translateX(-7.5px);
}
.hy_in .sel_box h5{
	margin-bottom: 15px;
	padding-left: 15px;
}
.hy_in .sel_box {
	padding-right: 15px;
}
.hy_in .sel_box select{
	width: 100%;
	height: 30px;
}
.inin_list .company{
	line-height: 34px;
}
.inin_list .company .name{
	float: left;
	position: relative;
	display: block;
	padding-left: 20px;
	font-size: 18px;
}
.inin_list .company .name::after{
	content: "";
	display: block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #ff443f;
	top: 50%;
	left: 0;
	margin-top: -2.5px;
	position: absolute;
}
.inin_list .company .useful{
	display: block;
	float: right;
	width: 180px;
	border:1px solid #333;
	position: relative;
}
.inin_list .company .useful::before{
	content: "";
	width: 1px;
	height:20px;
	background: #333;
	display: block;
	top: 50%;
	margin-top: -10px;
	left: 50%;
	position: absolute;
}
.inin_list .company .useful em{
	display: block;
	font-style: normal;
	float: left;
	width: 50%;
	padding-left: 44px;
	cursor: pointer;
	color: #999999;
}

.inin_list .company .useful .a{
	background: url(../img/usea1.png) no-repeat 15px center;
}
.inin_list .company .useful .b{
	background: url(../img/useb2.png) no-repeat 15px center;
}
.inin_list .company .useful .a.on{
	color: #ff443f;
	background: url(../img/usea2.png) no-repeat 15px center;
}
.inin_list .company .useful .b.on{
	color: #ff443f;
	background: url(../img/useb1.png) no-repeat 15px center;
}
.inin_list .mid{
	line-height: 80px;
	border:1px dashed #e6e6e6;
	border-right: none;
	border-left: none;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.inin_list .mid span{
	float: left;
	width: 33.333333333333333333%;
}
.inin_list .mid span:nth-child(2){
	text-align: center;
}
.inin_list .mid span:nth-child(3){
	text-align: right;
}
.inin_list .mid em{
	color: #ff443f;
	font-style: normal;
}
.inin_list .details span{
	display: block;
	width: 50%;
	float: left;
	line-height: 36px;
	font-size: 16px;
}
.inin_list .details{
	margin-bottom: 35px;
}
.hy_in .shai{
	font-size: 18px;
	margin-bottom: 45px;
}
.inin_list .details span i{
	display: inline-block;
	width: 80px;
	text-align: right;
	font-style:normal;
}
.inin_list .more{
		display: block;
		width: 160px;
		text-align: center;
		margin:60px auto 0;
		font-size: 16px;
	}
@media (max-width: 768px) {
	.hy_in .bottom .left{
		border-right: none;
	}
	.hy_in .shai{
		border-top: 1px solid #333;
		padding-top: 40px;
	}
	.hy_in .shai select{
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	.hy_in .col-md-9{
		padding: 0
	}
	.inin_list .company .name{
		float: none;
		width: 100%;
	}
	.inin_list .company .useful{
		float: none;
		margin-top: 15px;
	}
	.inin_list .company .useful::after{
		content: "";
		display: block;
		clear: both;
	}
	.inin_list .mid span{
		width: 100%;
		float: none;
		display: block;
		text-align: left !important;
	}
	.inin_list .mid{
		line-height: 36px;
	}
	.inin_list .details span{
		float: none;
		width: 100%;
	}
	.hy_in .img_box{
		height: 350px;
	}
	.position {
	    padding: 25px 15px;
	    font-size: 16px;
	    color: #333;
	    background: url(../img/home.png) no-repeat 15px center;
	    padding-left: 45px;
	}

}
.hy_in{
	margin-bottom: 50px;
}
.index_box{
	position: fixed;
	width: 100%;
	height: 100%;	
	top: 0;
	left: 0;
	background: url(../img/index.jpg) no-repeat center/cover;	
	overflow: hidden;
}
.index_box .fi{
	position: absolute;
	display: block;
	width: 95%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
}
.index_box .index_mask{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(167,169,184,0.5);
	top: 0;
	left: 0;
	z-index: 3;
}
.index_box .front{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 4;
	top: 0;
	left: 0;
}
.index_nav{
	width: 95%;
	margin:0 auto;
	padding-top: 60px;
}
.index_nav .logo{
	float: left;
}
.index_nav .btn_box{
	float: right;
	margin-top: 18px;
}

.index_nav .btn_box h1{
	font-size: 35px;
	font-weight: bold;
	color: #fff;
	line-height: 1;
	margin-bottom: 14px;
	text-shadow: 0px 4px 2px rgba(4, 0, 0, 0.21);
}

.index_nav .btn_box a{
	display: inline-block;
	width: 60px;
	height: 34px;
	text-align: center;
	line-height: 32px;
	border:1px solid #fff;
	border-radius: 17px;
	color: #fff;
	margin-left: 20px;
}
.index_nav .btn_box a.on{
	border-color:#b22228;
	background: #b22228;
}
.slogen{
	margin-top: 7.3vw;
}
.slogen img{
	display: block;
	margin:0 auto;
	max-width: 95%;
}
.index_t_btn a{
	display: inline-block;
	width: 252px;
	height: 76px;
	border-radius: 38px;
	background:rgba(255,255,255,.8);
	text-align: center;
	line-height: 76px;
	margin:0 50px;
	transition:all 0.3s;
}
.index_t_btn a:hover{
	background: #fff;
}
.index_t_btn{
	text-align: center;
	margin-top: 6.2vw;
}
.index_t_btn a span{
	display: inline-block;
	text-align: left;
	padding-left: 44px;
	font-size: 22px;
	color: #000;
}
.index_t_btn a:nth-child(1) span{
	background:url(../img/i1.png) no-repeat left center;
}
.index_t_btn a:nth-child(2) span{
	background:url(../img/i2.png) no-repeat left center;
}
.index_t_btn a:nth-child(3) span{
	background:url(../img/i3.png) no-repeat left center;
}
.index_box footer{
	background: none;
	color: #fefefe;	
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 45px;
}
.index_box footer p{
	color: #fefefe;
}
@media (max-width: 1200px) {
	.index_t_btn a{
		width: 200px;
		height: 60px;
		border-radius: 30px;
		line-height: 60px;
		margin:0 20px;
	}
}
@media (max-width: 768px) {
	.index_nav{
		padding-top: 20px;
	}
	.index_t_btn a{
		width: 260px;
		margin-bottom: 20px;
		height: 50px;
		border-radius: 25px;
		line-height: 50px;
	}
	.index_nav .btn_box a{
		margin-left: 10px;		
	}
}