<!-- 引入头部文件 -->
<include file="Public/header_new"/>
<body>
<div class="index_box">
    <!--<img src="/Public/new/img/index.png" alt="" class="fi">-->
    <!--<div class="index_maskb"></div>-->
    <div class="front">
        <div class="index_nav clearfix">
            <a href="" class="logo"><img src="/Public/new/img/index_logo.png" alt=""></a>
            <div class="btn_box">
                <empty name="Think.session.current_user_cname">
                    <a class="click_a" href="zhuce">注册</a>
                    <a class="click_a on" href="denglu">登录</a>
                    <else />
                    <a href="/home/center" class="c_name">{$Think.session.current_user_cname}</a>
                    <a class="click_a on" href="/home/index/logout">退出</a>
                </empty>
            </div>
        </div>
        <div class="slogen">
            <img src="/Public/new/img/slogen.png" alt="">
        </div>
        <div class="index_t_btn">
            <a href="/home/case"><span>方案系统</span></a>
            <a href="/home/prefecture"><span>行业专区</span></a>
            <a href="{$Think.config.LI_DAO_SHOP_URL}"><span>礼到商城</span></a>
        </div>
        <!-- 底部信息 -->
        <include file="Public/footer"/>
    </div>
</div>

<div class="index_mask"></div>
<!-- 登录框 -->
<div class="index_window" id="denglu">
    <span class="close"></span>
    <form action="/home/index/login" method="post">
        <img src="/Public/new/img/winlogo.png" alt="" class="winlogo">
        <p class="sec"><span>手机号码登录</span></p>
        <input type="tel" name="phone" placeholder="请输入手机号码" autocomplete="off">
        <div class="error">号码错误</div>
        <input type="password" name="password" placeholder="请输入密码" autocomplete="off">
        <div class="error">号码错误</div>
        <input type="submit" name="login" value="登录">
    </form>
    <div class="other clearfix">
        <a class="click_a" href="forget">忘记密码</a><span>还没有账号？<a class="click_a" href="zhuce">点击注册 &gt;&gt;</a></span>
    </div>
</div>
<!-- 重置密码1 -->
<div class="index_window" id="forget">
    <span class="close"></span>
    <form action="/home/index/change_pwd" method="post">
        <img src="/Public/new/img/winlogo.png" alt="" class="winlogo">
        <p class="sec"><span>忘记密码</span></p>
        <input type="tel" name="phone" placeholder="请输入手机号码" autocomplete="off">
        <div class="error">号码错误</div>

        <div class="yanzheng">
            <input type="number" name="captcha" placeholder="请输入验证码" autocomplete="off">
            <div class="error">号码错误</div>
            <button type="button">获取验证码</button>
        </div>

        <input type="password" name="newPwd" placeholder="请设置新密码" autocomplete="off">
        <div class="error">号码错误</div>

        <input type="password" name="confirmPwd" placeholder="请再次输入新密码" autocomplete="off">
        <div class="error">号码错误</div>

        <!--<a class="click_b" href="chongzhi">重 置</a>-->
        <input type="submit" name="change_pwd" value="重置">
    </form>
</div>
<!-- 重置密码2 -->
<div class="index_window" id="chongzhi">
    <span class="close"></span>
    <form action="">
        <img src="/Public/new/img/winlogo.png" alt="" class="winlogo">
        <p class="sec"><span>忘记密码</span></p>

        <input type="password" placeholder="请设置新密码">
        <div class="error">号码错误</div>

        <input type="password" placeholder="请再次输入新密码">
        <div class="error">号码错误</div>

        <input type="submit" value="完成">
    </form>
</div>
<!-- 注册框 -->
<div class="index_window" id="zhuce">
    <span class="close"></span>
    <form action="/home/index/register" method="post">
        <img src="/Public/new/img/winlogo.png" alt="" class="winlogo">
        <p class="sec"><span>手机号码注册</span></p>

        <input type="text" name="c_name" placeholder="请输入公司名称" autocomplete="off">
        <div class="error">号码错误</div>

        <input type="tel" name="phone" placeholder="请输入手机号码" autocomplete="off">
        <div class="error">号码错误</div>

        <div class="yanzheng">
            <input type="number" name="captcha" placeholder="请输入验证码" autocomplete="off">
            <div class="error">号码错误</div>
            <button type="button">获取验证码</button>
        </div>

        <input type="password" name="password" placeholder="请输入密码" autocomplete="off">
        <div class="error">号码错误</div>

        <input type="password" name="confirm_pwd" placeholder="请再次输入密码" autocomplete="off">
        <div class="error">号码错误</div>

        <input type="submit" name="register" value="注册">
    </form>
    <div class="xiei">
        *点击注册即代表同意<a href="/home/index/setting?code=AGREEMENT">《平台服务协议》</a>
    </div>
    <div class="d_box">
        已有账号？<a class="click_a" href="denglu">立即登录</a>
    </div>
</div>
</body>
<script>
    // 判断是否是移动端
    let u = navigator.userAgent;
    let isMobile = u.indexOf('Android') > -1 || u.indexOf('iPhone') > -1;
    if (isMobile) {
        layer.alert("为不影响您的体验，建议您使用电脑端浏览。");
    }

    $('input[type="submit"],.click_b').click(function () {
        var text = $(this).siblings('input[type="text"]').val();
        var tel = $(this).siblings('input[type="tel"]').val();
        var password = $(this).siblings('input[type="password"]').eq(0).val();
        var passwordb = $(this).siblings('input[type="password"]').eq(1).val();

        if (text == '') {
            $(this).siblings('input[type="text"]').next('.error').addClass('on');
            $(this).siblings('input[type="text"]').next('.error').text('请输入公司名称');
            return false;
        }

        if (tel == '') {
            $(this).siblings('input[type="tel"]').next('.error').addClass('on');
            $(this).siblings('input[type="tel"]').next('.error').text('请输入手机号码');
            return false;
        }
        if ($(this).siblings('input[type="tel"]').length > 0) {
            if (!(/^1[34578]\d{9}$/.test(tel))) {
                $(this).siblings('input[type="tel"]').next('.error').addClass('on');
                $(this).siblings('input[type="tel"]').next('.error').text('手机号码格式错误');
                return false;
            }
        }

        if (password == '') {
            $(this).siblings('input[type="password"]').eq(0).next('.error').addClass('on');
            $(this).siblings('input[type="password"]').eq(0).next('.error').text('请输入密码');
            return false;
        }

        if (passwordb == '') {
            $(this).siblings('input[type="password"]').eq(1).next('.error').addClass('on');
            $(this).siblings('input[type="password"]').eq(1).next('.error').text('请输入密码');
            return false;
        }

        if ($(this).siblings('input[type="password"]').length > 1) {
            if (passwordb != password) {
                $(this).siblings('input[type="password"]').eq(1).next('.error').addClass('on');
                $(this).siblings('input[type="password"]').eq(1).next('.error').text('两次密码不一致，请重新输入');
                return false;
            }
        }

        if ($(this).hasClass('click_b')) {
            var win = $(this).attr('href');
            $('.index_window').hide();
            $('#' + win + '').fadeIn();
            $('.index_mask').fadeIn();
            return false;
        }

        let name =  $(this).attr("name");
        let form = $(this).parent();

        if(name == "login") {
            form.ajaxSubmit(function (res) {
                console.log(res);
                if(res) {
                    if(res.result_code == 200) {
                        history.go(0);
                    } else {
                        layer.msg(res.result_msg);
                    }
                } else {
                    layer.msg("服务器错误，请稍后重试~");
                }
            });
        } else if(name == "register") {
            form.ajaxSubmit(function (res) {
                console.log(res);
                if(res) {
                    if(res.result_code == 200) {
                        layer.msg("恭喜您注册成功~", {icon : 1, time : 1500});
                        $('.index_mask').fadeOut();
                        $('.index_window').fadeOut();
                        // 清空表单
                        $(":input").val("");
                    } else {
                        layer.msg(res.result_msg);
                    }
                } else {
                    layer.msg("服务器错误，请稍后重试~");
                }
            });
        } else {
            form.ajaxSubmit(function (res) {
                if(res) {
                    if(res.result_code == 200) {
                        layer.msg("密码修改成功~", {icon : 1, time : 1500});
                        $('.index_mask').fadeOut();
                        $('.index_window').fadeOut();
                        // 清空表单
                        $(":input").val("");
                    } else {
                        layer.msg(res.result_msg);
                    }
                } else {
                    layer.msg("服务器错误，请稍后重试~");
                }
            });
        }
        return false;
    });

    $('.click_a').click(function () {
        var win = $(this).attr('href');
        $('.index_window').hide();
        $('#' + win + '').fadeIn();
        $('.index_mask').fadeIn();
        return false;
    });
    // 关闭弹窗
    $('.index_window .close').click(function () {
        $('.index_window').fadeOut();
        $('.index_mask').fadeOut();
    });
    $(".index_window").on('input', function () {
        $('.index_window .error').removeClass('on');
    });

    // 获取验证码
    $('.index_window .yanzheng button').click(function () {
        let input_phone = $("#zhuce input[name='phone']");
        let phone = input_phone.val();
        if(phone == "") {
            input_phone.next(".error").addClass("on");
            input_phone.next(".error").text("请输入手机号码");
            return false;
        }

        if (!(/^1[34578]\d{9}$/.test(phone))) {
            input_phone.next('.error').addClass('on');
            input_phone.next('.error').text('手机号码格式错误');
            return false;
        }

        var s = 60;
        var now_btn = $(this);
        now_btn.text(s + 'S重新获取');
        var c_time = setInterval(function () {
            s--;
            now_btn.text(s + 'S重新获取');
            if (s < 1) {
                clearInterval(c_time);
                now_btn.attr('disabled', false);
                now_btn.text('获取验证码');
            }
        }, 1000);
        $(this).attr('disabled', true);

        let data = {"phone" : phone, "type" : 1};
        sms_send(data);
    });

    // 发送短信验证码
    let sms_send = function (data) {
        $.ajax({
            url: "/home/index/sms_send",
            type: "POST",
            dataType: "JSON",
            data: data,
            success: function (res) {
                if(res.result_code == 400) {
                    layer.msg(res.result_msg);
                }
            },
            error: function () {
                layer.msg("验证码获取失败~");
            }
        });
    };
</script>
</html>
