<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>一刻钟·婚礼服务管理后台</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/Public/home/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/Public/admin/css/main.css" media="all" />
	<style type="text/css">
		.layui-form-item .layui-inline{ width:33.333%; float:left; margin-right:0; }
		@media(max-width:1240px){
			.layui-form-item .layui-inline{ width:100%; float:none; }
		}
	</style>
</head>
<body class="childrenBody">
	<form class="layui-form" style="width:80%;" lay-filter="recharge-form">
		<input type="hidden" name="id" value="">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">产品价格</label>
				<div class="layui-input-block">
                    <input class="layui-input" type="text" name="price" lay-verify="required" value="">
				</div>
			</div>
			<div class="layui-inline">
                <label class="layui-form-label">有效时间</label>
                <div class="layui-input-block">
                    <input type="text" name="expire_time" value="" class="layui-input" lay-verify="required|number|expire_time" placeholder="请输入一个正整数的有效时间" autocomplete="off">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">时间参数</label>
                <div class="layui-input-block">
                    <select name="time_type">
                        <option value="d">天</option>
                        <option value="m">个月</option>
                        <option value="y">年</option>
						<option value="h">小时</option>
						<option value="i">分钟</option>
                    </select>
                </div>
            </div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="edit_recharge">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="/Public/home/layui/layui.js"></script>
	<script>
		layui.use(['layer', 'element', 'form'], function () {
            let layer = parent.layer === undefined ? layui.layer : parent.layer,
                form = layui.form,
                $ = layui.jquery;

            // 赋值
            form.val('recharge-form', layui.data('recharge_table').recharge);

            // 表单验证
            form.verify({
                'expire_time': function (value) {
                    if(value <= 0) {
                        return '有效时间为正整数！';
                    }
                }
            });

            // 表单提交
            form.on('submit(edit_recharge)', function (data) {
                let index = top.layer.msg('数据提交中，请稍候',{icon: 16, time: false});
                $.post('/admin/setting/edit_recharge', data.field, function (res) {
                    if(res && res.result_code === 200) {
                        layer.close(index);
                        layer.msg("更新成功！");
                        layer.closeAll("iframe");
                        //刷新父页面
                        parent.location.reload();
                    } else {
                        layer.close(index);
                        layer.msg("更新失败！");
                    }
                });
                return false;
            });
        });
	</script>
</body>
</html>