<include file="Public/header"/>
<body class="childrenBody">
<blockquote class="layui-elem-quote news_search">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" name="keyword" value="" placeholder="请输入关键字" class="layui-input search_input" autocomplete="off">
        </div>
        <a class="layui-btn search_btn">查询</a>
    </div>
    <div class="layui-inline">
        <a class="layui-btn layui-btn-normal add_btn">创建</a>
    </div>
</blockquote>
<!-- 数据表格 -->
<table class="layui-hide" id="notice_list" lay-filter="notice_table_filter"></table>
<script type="text/html" id="opt-btn">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" src="/Public/home/layui/layui.js"></script>
<script>
    layui.use(['layer', 'table', 'jquery', 'form'], function () {
        let layer = parent.layer === undefined ? layui.layer : parent.layer,
            table = layui.table,
            $ = layui.jquery;

        // 加载页面数据
        let tableIns = table.render({
            id: 'notice_table',
            elem: "#notice_list",
            url: "/admin/notice/list",
            cols: [[
                {type: 'checkbox'}
                , {field: 'title', title: '公告标题'}
                , {field: 'add_time', title: '创建时间'}
                , {title: '操作', toolbar: '#opt-btn'}
            ]],
            page: true
        });

        // 查询
        $('.search_btn').click(function () {
            let keyword = $(".search_input").val();

            tableIns.reload({
                where: {'keyword' : keyword},
            });
        });

        // 创建
        $('.add_btn').click(function () {
            let index = layer.open({
                skin: 'layui-layer-molv',
                title : "创建公告",
                type : 2,
                content : "/admin/notice/notice_add",
                success : function(layero, index){
                    setTimeout(function(){
                        layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                            tips: 3
                        });
                    },500)
                },
            });
            //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
            $(window).resize(function(){
                layer.full(index);
            });
            layer.full(index);
        });

        //监听行工具事件
        table.on('tool(notice_table_filter)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            let data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layui.data('notice_table', {key: 'notice', value: data});
                let index = layer.open({
                    skin: 'layui-layer-molv',
                    title : "公告详情",
                    type : 2,
                    content : "/admin/notice/notice_info",
                    success : function(layero, index){
                        setTimeout(function(){
                            layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
                                tips: 3
                            });
                        },500)
                    },
                });
                //改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
                $(window).resize(function(){
                    layer.full(index);
                });
                layer.full(index);
            } else if (layEvent === 'del') {
                layer.confirm('您确定要删除该公告吗？', {icon: 3, title: '提示'}, function (index) {
                    layer.close(index);
                    //向服务端发送禁用指令
                    $.post('/admin/notice/delete', {'notice_id': data.id}, function (res) {
                        if(res && res.result_code === 200) {
                            obj.del();
                        }
                    })
                });
            }
        });
    });
</script>
</body>
</html>