<include file="Public/center_header"/>
<body>
<div class="dingzhi">
    <div class="grinter container">
        <form class="grinter-right">
            <h3>礼券兑换</h3>
            <div class="liquan-box">
                <span>礼券兑换</span><input type="text" name="cdkey" placeholder="请输入兑换码" autocomplete="off">
                <input class="fapiao-btn" type="button" value="确认">
            </div>
        </form>
    </div>
</div>
<script src="/Public/new/js/jquery.min.js"></script>
<script src="/Public/new/js/sharp_m.js"></script>
<script>
    $("input[type='button']").click(function () {
        let cdkey = $("input[name='cdkey']").val();
        if(cdkey == "") {
            return parent.layer.msg("请输入兑换码~", {icon: 0});
        }

        $.post("/home/center/exchange_cdkey", {"cdkey" : cdkey}, function (res) {
            if(res) {
                parent.layer.msg(res.result_msg);
            } else {
                parent.layer.msg("服务器错误，请稍后重试~");
            }
        })
    });
</script>

</body>
</html>