<include file="Public/center_header"/>
<body>
<div class="grinter-right">
    <h3>充值入口</h3>
    <p>1、请选择充值类型</p>
    <div class="chongzhi">
        <foreach name="recharge_list" item="recharge">
            <div class="chongzhibox" id="{$recharge.id}">
                <img src="/Public/home/images/cz.png" alt="">
                <h3><span>{$recharge.price}</span>元</h3>
                <p>{$recharge.expire_date}</p>
            </div>
        </foreach>
        <div class="h5">
            应付金额：<span>0</span>元
            <input type="checkbox" name="agree" value="" checked/>
            <a target="_top" href="/home/index/setting?code=AGREEMENT">《一刻钟服务协议》</a>
        </div>
    </div>

    <p>2、请选择支付方式</p>
    <div class="pay_outer">
        <div class="box_s">
            <div class="pay_type">
                <p><img src="/Public/home/images/wx.png" alt="">使用微信扫码付款</p>
            </div>
            <div class="pay_type">
                <p><img src="/Public/home/images/zfb.png" alt="">使用支付宝扫码付款</p>
            </div>
        </div>
    </div>
    <div class="fapiao">3、我的订单
        <div style="border:1px solid #D4D4D4; width:852px; margin-top:15px;border-bottom: none;">
            <p class="tishi"> 提示：请在订单有效期内申请发票</p>
            <table class="order_table">
                <tr>
                    <th>订单内容</th>
                    <th>金额（元）</th>
                    <th>优惠</th>
                    <th>订单创建日期</th>
                    <th>操作</th>
                </tr>
                <foreach name="order_list" item="order">
                    <tr>
                        <td>{$order.order_content}</td>
                        <td class="order_amount">{$order.order_amount}</td>
                        <td>无</td>
                        <td>{$order.add_time}</td>
                        <td><a id="{$order.id}" href="#" class="fp_btn">申请发票</a></td>
                    </tr>
                </foreach>
            </table>
        </div>
    </div>
</div>
<script src="/Public/new/js/jquery.min.js"></script>
<script src="/Public/new/js/sharp_m.js"></script>
<script>
    let obj_amount = $('.chongzhi .h5 span');
    let amount = 0,  //订单总金额
        recharge_id = 0, // 产品ID
        expire_date = ''; //产品有效期

    // 选择产品套餐
    $(".chongzhibox").click(function () {
        $(this).css("border-color", "#ff443f");
        $(this).children("img").css("opacity", "1");
        $(this).css("box-shadow", "2px 2px 10px rgba(0,0,0,0.1)");
        $(this).siblings().css("border-color", "#ccc");
        $(this).siblings().children("img").css("opacity", "0");
        $(this).siblings().css("box-shadow", "2px 2px 10px rgba(0,0,0,0)");

        let price = $(this).find('span').text();
        obj_amount.text(price);
        amount = price;
        recharge_id = $(this).attr('id');
        expire_date = $(this).find('p').text();
    });

    // 选择支付类型
    $('.pay_type').click(function () {
        $(this).css("border-color", "#ff443f");
        $(this).css("box-shadow", "2px 2px 10px rgba(0,0,0,0.1)");
        $(this).siblings().css("border-color", "#ccc");
        $(this).siblings().css("box-shadow", "2px 2px 10px rgba(0,0,0,0)");

        let that = this;
        if(amount === 0) {
            parent.layer.alert('请选择充值套餐', {icon: 0, title: '提示'}, function (index) {
                $(that).css("border-color", "#cccd");
                $(that).css("box-shadow", "2px 2px 10px rgba(0,0,0,0)");
                parent.layer.close(index);
            });
            return false;
        }

        let obj_agree = $('input[name="agree"]');
        let agree = obj_agree.is(':checked');
        if(!agree) {
            parent.layer.alert('请同意本网站服务协议', {icon: 0, title: '提示'});
            return false;
        }

        let pay_type = $(this).index() + 1;
        parent.layer.confirm('您确定要下单吗？', {icon: 3, title: '提示'}, function (index) {
            console.log(pay_type);
            console.log(expire_date);
            let title = '请使用手机微信扫码支付';
            if(pay_type === 2) {
                title = '请使用手机支付宝扫码支付';
            }

            parent.layer.open({
                type: 2,
                title: title,
                content: '/home/center/create_order?pay_type=' + pay_type + '&expire_date=' + expire_date + '&amount=' + amount + '&recharge_id=' + recharge_id,
                area: ['300px', '320px'],
                resize: false,  // 禁止弹框拉伸
                scrollbar: false
            });

            parent.layer.close(index);
        })
    });

    // 开发票
    $(".fp_btn").click(function () {
        let order_amount = $(this).parent().siblings('.order_amount').text();
        let order_id = $(this).attr('id');
        parent.$('.amount').html(order_amount);
        parent.$('input[name="inv_amount"]').val(order_amount);
        parent.$('input[name="order_id"]').val(order_id);
        parent.$('.xiugai-bg').fadeIn();
        return false;
    });


</script>


</body>
</html>